@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

$primary-maroon: #831843;
$secondary-maroon: #9d174d;
$third-maroon: #ff69b4;
$primary-white: #b2b2b2;
$primary-grey: #1b1245;
$primary-font: 'Chivo Mono', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: $primary-font;
  margin: auto 10%;
  color: $primary-white;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 3px solid $primary-maroon;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.cards-container {
  margin: 10px;
  border-radius: 10px;
  padding: 1rem;
  background-color: $primary-grey;
}

.buttons__comments,
.buttons__reservation {
  padding: 10px;
}
