* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: lightgray;
  font-family: 'Chivo Mono', monospace;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

#logo {
  cursor: pointer;
  width: 4.5rem;
  transition: 200ms ease-in-out;
}

#logo:hover {
  transform: translateX(1.5rem)
}

#header-List {
  display: flex;
  gap: 50px;
}

.list-Item {
  height: 1.3rem;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.list-Item:hover {
  transform: scale(1.1);
  border-bottom: 2px solid lightcoral;
}